<div class="container">
    <h3 id="migalhas"> Home/Ciclos/{{resultado.idCiclo.nomeCiclo}}/Viagem {{resultado.idViagem}}/Formulario Coleta</h3>
    <div class="conteudo">

        <div class="titulo">
            <h1>Formulário Coleta</h1>
            <h6>Preenchimento das informações de coleta</h6>
        </div>
        <form [formGroup]="coletaForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-4">
                    <label class="text-nowrap" for="inputID">ID Ciclo</label>
                    <input type="text" class="form-control" [value]="resultado.idCiclo.idCiclo" disabled>
                </div>

                <div class="col-md-4">
                    <label class="text-nowrap" for="inputEstado">Estado</label>
                    <input id="inputEstado" class="form-control" [value]="resultado.idCiclo.uf" disabled>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="text-nowrap" id="label-municipio" for="inputMunicipio">Município</label>
                    <input id="inputMunicipio" class="form-control" [value]="resultado.idCiclo.municipio.nomeMunicipio"
                        disabled>
                </div>
                <div class="col-md-4 ">
                    <label class="text-nowrap" id="label-comunidade" for="inputComunidade">Comunidade</label>
                    <input id="inputComunidade" class="form-control"
                        [value]="resultado.idCiclo.comunidade.nomeComunidade" disabled>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <label class="text-nowrap" id="label-viagem" for="inputIDViagem">ID Viagem</label>
                    <input id="idViagem" type="text" class="form-control" [value]="resultado.idViagem" disabled>
                </div>
                <div class="col-md-4">
                    <label class="text-nowrap" for="inputData">Data</label>
                    <input id="input-data" type="date" class="form-control" [value]="resultado.dataViagem" disabled>
                </div>
            </div>
            <hr>
            <div class="form-group">

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputMatricula">Matrícula do voluntário</label>
                    <input type="text" id="voluntario" formControlName="voluntario" class="form-control">
                    <span *ngIf="!coletaForm.get('voluntario')?.valid && coletaForm.get('voluntario')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputDataColeta">Data Coleta</label>
                    <input type="date" id="dataColeta" formControlName="dataColeta" class="form-control">
                    <span *ngIf="!coletaForm.get('dataColeta')?.valid && coletaForm.get('dataColeta')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputNomePraia">Nome de praia ou tabuleiro</label>
                    <input type="text" id="nomePraiaTabuleiro" formControlName="nomePraiaTabuleiro"
                        class="form-control">
                    <span
                        *ngIf="!coletaForm.get('nomePraiaTabuleiro')?.valid && coletaForm.get('nomePraiaTabuleiro')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputNumeroCOva">Número da cova</label>
                    <input type="text" id="numeroCova" formControlName="numeroCova" class="form-control">
                    <span *ngIf="!coletaForm.get('numeroCova')?.valid && coletaForm.get('numeroCova')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputQuantidadeOvos">Quantidade de ovos</label>
                    <input type="text" id="quantidadeOvos" formControlName="quantidadeOvos" class="form-control">
                    <span *ngIf="!coletaForm.get('quantidadeOvos')?.valid && coletaForm.get('quantidadeOvos')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" class="text-nowrap" for="inputEspecie">Espécie</label>
                    <input type="text" id="especie" formControlName="especie" class="form-control">
                    <span *ngIf="!coletaForm.get('especie')?.valid && coletaForm.get('especie')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" class="text-nowrap" for="inputDistanciaAgua">Distância da água</label>
                    <input type="text" id="distanciaAgua" formControlName="distanciaAgua" class="form-control">
                    <span *ngIf="!coletaForm.get('distanciaAgua')?.valid && coletaForm.get('distanciaAgua')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputDistanciaVegetacao">Distância da vegetação</label>
                    <input type="text" id="distanciaVegetacao" formControlName="distanciaVegetacao"
                        class="form-control">
                    <span
                        *ngIf="!coletaForm.get('distanciaVegetacao')?.valid && coletaForm.get('distanciaVegetacao')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputProfundPrimeiroOvo">Profundidade do primeiro ovo </label>
                    <input type="text" id="profundidadePrimeiroOvo" formControlName="profundidadePrimeiroOvo"
                        class="form-control">
                    <span
                        *ngIf="!coletaForm.get('profundidadePrimeiroOvo')?.valid && coletaForm.get('profundidadePrimeiroOvo')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputProfundTotal">Profundidade total </label>
                    <input type="text" id="profundidadeTotal" formControlName="profundidadeTotal" class="form-control">
                    <span
                        *ngIf="!coletaForm.get('profundidadeTotal')?.valid && coletaForm.get('profundidadeTotal')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputLarguraNinho">Largura do ninho</label>
                    <input type="text" id="larguraNinho" formControlName="larguraNinho" class="form-control">
                    <span *ngIf="!coletaForm.get('larguraNinho')?.valid && coletaForm.get('larguraNinho')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputLarguraPata">Largura das patas</label>
                    <input type="text" id="larguraPata" formControlName="larguraPata" class="form-control">
                    <span *ngIf="!coletaForm.get('larguraPata')?.valid && coletaForm.get('larguraPata')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputLarguraEntrePatas">Largura entre as patas</label>
                    <input type="text" id="larguraEntrePatas" formControlName="larguraEntrePatas" class="form-control">
                    <span
                        *ngIf="!coletaForm.get('larguraEntrePatas')?.valid && coletaForm.get('larguraEntrePatas')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

            </div>

            <div class="botao">
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
        </form>
    </div>
</div>