<div class="container">

    <h3 id="migalhas"> Home/Ciclos/{{resultado.nomeCiclo}}/NovaViagem</h3>

    <div class="conteudo">

        <h2 class="titulo">Nova Viagem</h2>
        <h6>Incluir uma viagem no sistema</h6>
        <br>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputNome">Nome do Ciclo</label>
                        <input type="text" class="form-control" id="inputNome" [value]="resultado.nomeCiclo" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="text-nowrap" for="inputEstado">Estado</label>
                        <input type="text" id="inputEstado" class="form-control" [value]="resultado.uf" disabled>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="text-nowrap" for="inputMunicipio">Município</label>
                        <input type="text" id="inputMunicipio" class="form-control"
                            [value]="resultado.municipio.nomeMunicipio" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="text-nowrap" for="inputComunidade">Comunidade</label>
                        <input type="text" id="inputComunidade" class="form-control"
                            [value]="resultado.comunidade.nomeComunidade" disabled>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="text-nowrap" for="inputData">Data</label>
                        <input id="input-data" type="date" class="form-control" formControlName="dataViagem">
                        <span *ngIf="!signupForm?.get('dataViagem')?.valid && signupForm?.get('dataViagem')?.touched "
                            class="help-block">Campo obrigatório</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label id="label-tipo-usuario" class="text-nowrap" for="selectCoordenador">Coordenador</label>
                        <select id="selectCoordenador" formControlName="coordenador" class="form-control">
                            <option selected disabled value="">Selecione</option>
                            <option *ngFor="let item of arrayDeCoordenadores" [ngValue]="item.matricula">{{item.nome}}
                            </option>
                        </select>
                        <span *ngIf="!signupForm?.get('coordenador')?.valid && signupForm?.get('coordenador')?.touched "
                            class="help-block">Seleção obrigatória</span>
                    </div>
                </div>
            </div>
            <div class="botao">
                <button type="submit" class="btn btn-success  ">Salvar</button>
            </div>
        </form>
    </div>
</div>