<div class="container ">

    <h1 id="titulo-home">Projeto Pé-de-Pincha</h1>

    <div class="conteudo mb-4">
        <div class="row">
            <div class="div-modificacoes col-md-7">
                <h3>Últimas solturas</h3>
                <div class="div-tabela-modificacoes col-md-12">

                    <!-- Pode substituir o "item" por qualquer nome, no caso coloquei "soltura" -->
                    <table class="table table-sm">
                        <thead class=" text-primary">
                            <th class="text-center">
                                #
                            </th>
                            <th class="text-center">
                                Data
                            </th>
                            <th class="text-center">
                                Evento
                            </th>
                        </thead>

                        <tbody>
                            <tr *ngFor="let soltura of logDeSoltura | slice:0:5">
                                <td class="text-center">
                                    {{soltura.idSoltura}}
                                </td>
                                <td class="text-center">
                                    {{soltura.dataSoltura}}
                                </td>
                                <td class="text-center">
                                    {{soltura.voluntario.nome}} preencheu soltura de {{soltura.especie}} em
                                    {{soltura.viagem.idCiclo.comunidade.nomeComunidade}}
                                </td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="div-grafico col-md">
                <span class="subtitulo">
                    <h3>Filhotes soltos</h3>
                </span>
                <div>
                    <canvas baseChart width="400" 
                        [type]="'line'"
                        [data]="lineChartData"
                        [options]="lineChartOptions"
                        [legend]="lineChartLegend">
                    </canvas>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="div-minhas-viagens col-md-12">
                <h3>Últimas viagens</h3>

                <div class="div-tabela-minhas-viagens">

                    <div class="row divisor" *ngFor="let item of arrayDeViagens | slice:0:7">
                        <div class="col-md-3 pe-md-1">
                            <div [ngClass]="{
                                'canto-colorido-verde': item.status == 'Iniciada', 
                                'canto-colorido-rosa': item.status == 'Agendada'
                            }" class="canto-colorido-verde"></div>
                            <div class="div-dados-id-viagem">

                                <span class="subtitulo-dados-viagem"><b>ID {{item.idViagem}}</b></span>

                                <div class="item-id-viagem">
                                    <span [ngClass]="{
                                        'status-em-atualizacao': item.status == 'Iniciada',
                                        'status-agendada': item.status == 'Agendada'
    
                                    }">{{item.status}}</span>
                                </div>
                                <div class="item-id-viagem">
                                    <img class="icone" src="../../../../assets/img/pin-map.svg" width="20"
                                        height="20"><span
                                        class="label-comunidade">{{item.idCiclo.comunidade.nomeComunidade}}</span>
                                </div>
                                <div class="item-id-viagem">
                                    <img class="icone" src="../../../../assets/img/calendar.svg" width="20"
                                        height="20"><span class="label-comunidade">{{item.dataFormatada}}</span>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-9 ps-md-0 div-viagem">
                            <div class="div-dados-viagem">
                                <span class="subtitulo-dados-viagem">{{item.idCiclo.nomeCiclo}}</span>

                                <span class="texto-dados-viagem" style="font-weight:500">Coordenador:</span>
                                <span class="texto-dados-viagem">{{item.coordenador.nome}}</span>

                            </div>
                            <div class="div-botoes-viagem">
                                <div class="div-botao-formulario">
                                    <button type="button" class="btn btn-success" routerLink="viagem/022"
                                        routerLinkActive="active-style"><span class="span-formulario">+
                                            Formulário</span></button>
                                </div>
                                <div class="flex-center div-espaco-botoes"></div>
                                <div class="flex-center-bottom div-botoes-conteudo">
                                    <div class="flex-item-center">
                                        <td>
                                            <div class="d-flex justify-content-around">
                                                <button type="button" id="button-visao"
                                                    [routerLink]="['/ciclo', item.idCiclo.idCiclo, 'viagem', item.idViagem]"
                                                    routerLinkActive="active-style"></button>
                                                <button type="button" id="button-editar"
                                                    [routerLink]="['/ciclo', item.idCiclo.idCiclo, 'viagem', item.idViagem, 'editar']"
                                                    routerLinkActive="active-style"></button>
                                                <button type="button" id="button-excluir"></button>
                                            </div>
                                        </td>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>