#migalhas {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.conteudo {
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 1.5rem;
}


.botao {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}
