<div class="container">

    <div class="row">
        <h1 class="titulo">Editar usuário</h1>
        <h6>Alterar dados de um usuário no sistema</h6>

        <!-- primeira linha de inputs -->
        <!-- input matricula -->
        <div class="col ">
            <label for="inputMatricula">Matrícula</label>
            <input type="text" class="form-control" id="inputMatricula">
        </div>
        <!-- input email -->
        <div class="col ">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail">
        </div>
        <!-- input senha -->
        <div class="col ">
            <label for="inputSenha">Senha</label>
            <input type="password" class="form-control" id="inputSenha">
        </div>

        <!-- segunda linha de inputs -->
        <!-- input nome completo -->
        <div class="form-group">
            <label for="inputNome">Nome completo</label>
            <input type="text" class="form-control" id="inputNome">
        </div>

          <!-- terceira linha de inputs -->
        <!-- input tipo usuario -->
        <div class="col ">
            <label for="inputTipoUsuario">Tipo de Usuario</label>
            <select id="inputTipoUsuario" class="form-control">
                <option selected>Selecione</option>
                <option>Voluntário</option>
                <option>Coordenador</option>
            </select>
        </div>
        <!--    input status -->
        <div class="col ">
            <label for="inputStatus">Status</label>
            <select id="inputStatus" class="form-control">
                <option selected>Selecione</option>
                <option>Ativo</option>
                <option>Inativo</option>
            </select>
        </div>

        <!-- botao -->
        <div class="botao">
            <button type="button" class="btn btn-success  ">Salvar</button>
        </div>

    </div>
</div>