<div class="container">

    <h3 id="migalhas"> Home/Usuarios/Editar</h3>

    <div class="conteudo">
        <h2>Editar usuário</h2>
        <h6>Alterar dados de um usuário no sistema</h6>
        <br>
        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputMatricula">Matrícula</label>
                        <input type="text" class="form-control" id="inputMatricula">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputSenha">Senha</label>
                        <input type="password" class="form-control" id="inputSenha">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputNome">Nome completo</label>
                            <input type="text" class="form-control" id="inputNome">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputTipoUsuario">Tipo de Usuario</label>
                            <select id="inputTipoUsuario" class="form-control">
                                <option selected>Selecione</option>
                                <option>Voluntário</option>
                                <option>Coordenador</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputStatus">Status</label>
                            <select id="inputStatus" class="form-control">
                                <option selected>Selecione</option>
                                <option>Ativo</option>
                                <option>Inativo</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="botao">
                    <button type="button" class="btn btn-success  ">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>