<link rel="stylesheet" href="login.component.css">

<div class="container">
    <div class="conteudo">

    <header class="header">
        <img class="logo" src="../../assets/img/logo-v1-300h.png" alt="Quelofy" />
    </header>

    <div class="titulo">
        <p class="lblLogin">Login</p>
    </div>
    <div class="row">
            <div class="col-md-4 card-form mt-4">
                <img src="../../assets/img/tartarugalogin.png" class="img-format">
                <h3>Sistema de gestão para conservação e manejo de quelônios na região amazônica</h3>
            </div>    
        <div class="col-md-4 card-form mt-4">
            <label class="text-nowrap" for="inputEmail">Email</label><br>
            <input type="email" class="form-control" ><br>
            <label class="text-nowrap" for="inputPassword">Password</label><br>
            <input type="password" class="form-control" ><br>
            <button>Log in</button>
        </div>
    </div>
        
    <br>
    <div class= "footer">
        <a href="#">Sobre o projeto Pé-de-pincha</a>
        <a href="#">Sobre as desenvolvedoras</a>
    </div>
    </div>
</div>

