
<div class="container">
   <div id="bgtracaja">
    <p>Sistema de gestão para conservação e manejo de quelônios na região amazônica</p>
   </div>
    <header class="header">
        <img class="logo" src="../../assets/img/logo-v1-300h.png" alt="Quelofy" />
    </header>

    <div class="titulo">
        <h1>Login</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="text-nowrap" for="inputEmail">Email</label><br>
            <input type="email" class="form-control" ><br>
            <label class="text-nowrap" for="inputPassword">Password</label><br>
            <input type="password" class="form-control" ><br>
            <button>Log in</button>
        </div>
    </div>
        
    <br>
    <div class= "footer">
        <a href="#">Sobre o projeto Pé-de-pincha</a>
        <a href="#">Sobre as desenvolvedoras</a>
    </div>
</div>

