<div class="row h-100">

    <div class="col-md-7 p-0">

        <div class="foto">
            <div class="texto">
                  <p>
                    Sistema de gestão para conservação e manejo de quelônios na região amazônica
                  </p>
            </div>
         
        </div>

    </div>

    <div class="col-md-5 p-0">
        
        <div class="formulario">
            <div class="logo ">
               <img  src="../../assets/img/logo-v1-300h.png" alt="">
            </div>
           
            <form [formGroup]="loginForm" (ngSubmit)= "onSubmit(loginForm)">
                <h1>Login</h1>
            <label class="label-inputs" for="inputEmail">Email</label><br>
            <input type="email" class="form-control" formControlName="username">
            <br>

            <label class="label-inputs" for="inputPassword">Senha</label><br>
            <input type="password" class="form-control" formControlName="password">
            <br>
            <div class="botao">
                <button type="submit" class="btn btn-success">Entrar</button> 
            </div>
           

        </form>
       
        </div>
    </div>



</div>