<div class="container">
    <h3 id="migalhas"> Home/Ciclos/Ciclo Barreirinha-2022/Viagem101/FormularioEclosao</h3>
    <div class="conteudo">
        <div class="titulo">
            <h1>Formulário Eclosão</h1>
            <h6>Preenchimento das informações de eclosão</h6>
        </div>
        <form [formGroup]="eclosaoForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-4">
                    <label class="text-nowrap" for="inputID">ID Ciclo</label>

                    <input type="text" class="form-control">
                </div>
        
                <div class="col-md-4">
                    <label class="text-nowrap" for="inputEstado">Estado</label>

                    <select id="inputEstado" class="form-control">
                        <option selected>Selecione</option>
                        <option>AM</option>
                        <option>PA</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="text-nowrap" id="label-municipio" for="inputMunicipio">Município</label>
                    <select id="inputMunicipio" class="form-control">
                        <option selected>Selecione</option>
                        <option>Apuí</option>
                        <option>Barcelos</option>
                        <option>Barreirinha</option>
                        <option>Borba</option>
                        <option>Careiro Castanho</option>
                        <option>Juruti</option>
                        <option>Nhamundá</option>
                        <option>Novo Airão</option>
                        <option>Oriximiná</option>
                        <option>Parintins</option>
                        <option>Puranga Conquista</option>
                        <option>Terra Santa</option>
                    </select>
                </div>
                <div class="col-md-4 ">
                    <label class="text-nowrap" id="label-comunidade" for="inputComunidade">Comunidade</label>

                    <select id="inputComunidade" class="form-control">
                        <option selected>Selecione</option>
                        <option>Comunidade Aliança</option>
                        <option>Comunidade Ascensão</option>
                        <option>Comunidade Barreto</option>
                        <option>Comunidade Bela Vista do Guariba</option>
                        <option>Comunidade Boca dos Currais</option>
                        <option>Comunidade Castanhal'</option>
                        <option>Comunidade Granja Ceres</option>
                        <option>Comunidade Igapó Açu</option>
                        <option>Comunidade Mamori</option>
                        <option>Comunidade Nova Esperança</option>
                        <option>Comunidade Pintado</option>
                        <option>Comunidade Poço Fundo</option>
                        <option>Comunidade Salgado I</option>
                        <option>Comunidade São José</option>
                        <option>Comunidade Tucumanduba</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <label class="text-nowrap" id="label-viagem" for="inputIDViagem">ID Viagem</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-4">
                    <label class="text-nowrap" for="inputData">Data</label>
                    <input id="input-data" type="date" class="form-control">
                </div>
            </div>
            <hr>
            <div class="form-group">

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputMatricula">Matrícula do voluntário</label>
                    <input 
                    type="text" 
                    id= "voluntario" 
                    formControlName="voluntario" 
                    class="form-control">
                    <span 
                    *ngIf="!eclosaoForm.get('voluntario')?.valid && eclosaoForm.get('voluntario')?.touched"
                    class= "help-block"> Campo Obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputNumeroCova">Número da cova</label>
                    <input 
                    type="text"
                    id="numeroCova"
                    formControlName="numeroCova" 
                    class="form-control">
                    <span 
                    *ngIf="!eclosaoForm.get('numeroCova')?.valid && eclosaoForm.get('numeroCova')?.touched"
                    class= "help-block"> Campo Obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputDataNascimento">Data de nascimento</label>
                    <input 
                    type="date"
                    id="dataNascimento"
                    formControlName="dataNascimento" 
                    class="form-control">
                    <span 
                    *ngIf="!eclosaoForm.get('dataNascimento')?.valid && eclosaoForm.get('dataNascimento')?.touched"
                    class= "help-block"> Campo Obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputEspecie">Espécie</label>
                    <input 
                    type="text"
                    id="especie"
                    formControlName="especie" 
                    class="form-control">
                    <span 
                    *ngIf="!eclosaoForm.get('especie')?.valid && eclosaoForm.get('especie')?.touched"
                    class= "help-block"> Campo Obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputQntdFilhotesVivos">Quantidade de filhotes vivos</label>
                    <input 
                    type="text"
                    id="quantidadeFilhoteVivo"
                    formControlName="quantidadeFilhoteVivo" 
                    class="form-control">
                    <span 
                    *ngIf="!eclosaoForm.get('quantidadeFilhoteVivo')?.valid && eclosaoForm.get('quantidadeFilhoteVivo')?.touched"
                    class= "help-block"> Campo Obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputQuantidadeOvosInviavel">Quantidade de ovos inviáveis</label>
                    <input 
                    type="text"
                    id="quantidadeOvoInviavel"
                    formControlName="quantidadeOvoInviavel" 
                    class="form-control">
                    <span 
                    *ngIf="!eclosaoForm.get('quantidadeOvoInviavel')?.valid && eclosaoForm.get('quantidadeOvoInviavel')?.touched"
                    class= "help-block"> Campo Obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputQuantidadeOvosInferti">Quantidade de ovos inférteis</label>
                    <input 
                    type="text"
                    id="quantidadeOvoInfertil"
                    formControlName="quantidadeOvoInfertil" 
                    class="form-control">
                    <span 
                    *ngIf="!eclosaoForm.get('quantidadeOvoInfertil')?.valid && eclosaoForm.get('quantidadeOvoInfertil')?.touched"
                    class= "help-block"> Campo Obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputQntFilhotesMortosFormiga ">Quantidade de filhotes mortos por formiga </label>
                        <input 
                        type="text"
                        id="quantidadeFilhoteMortoFormiga"
                        formControlName="quantidadeFilhoteMortoFormiga" 
                        class="form-control">
                        <span 
                        *ngIf="!eclosaoForm.get('quantidadeFilhoteMortoFormiga')?.valid && eclosaoForm.get('quantidadeFilhoteMortoFormiga')?.touched"
                        class= "help-block"> Campo Obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputQntFilhotesMortosBicheira">Quantidade de filhotes mortos por bicheira </label>
                        <input 
                        type="text"
                        id="quantidadeFilhoteMortoBicheira"
                        formControlName="quantidadeFilhoteMortoBicheira" 
                        class="form-control">
                        <span 
                        *ngIf="!eclosaoForm.get('quantidadeFilhoteMortoBicheira')?.valid && eclosaoForm.get('quantidadeFilhoteMortoBicheira')?.touched"
                        class= "help-block"> Campo Obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputProfundTotal">Quantidade de filhotes mortos por outros motivos </label>
                        <input 
                        type="text"
                        id="quantidadeFilhoteMortoOutros"
                        formControlName="quantidadeFilhoteMortoOutros" 
                        class="form-control">
                        <span 
                        *ngIf="!eclosaoForm.get('quantidadeFilhoteMortoOutros')?.valid && eclosaoForm.get('quantidadeFilhoteMortoOutros')?.touched"
                        class= "help-block"> Campo Obrigatório </span>
                </div>
            </div>

            <div class="botao">
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
        </form>
    </div>
</div>