.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;

}

.row {
    background-color: #ffffff;
    width: 70%;
    ;
    padding: 30px 40px;
    border-radius: 7px;
}


#comunidade {
    margin-left: 260px;
}

#estado{
    margin-left: 120px;
}

#data{
    margin-left: 260px;
}

.col-md-6 {
    margin-bottom: 20px;
}

.col-md-4 {
    margin-bottom: 20px;
}

.col-md-2{
   padding-top: 12px;
  margin-right: 65px;
}


.row .botao {
    margin-top: 25px;
    text-align: end;
}

