#migalhas {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.conteudo {
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 1.5rem;
    background-color: white;
   
}

#meio{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.card-form {
    width: 17.5rem;
    height: 22.5rem;
    float: left;
    padding: 0.9375rem;
    /* margin: 2% 0 2% 1%; */
    /* margin-left: 5%; */
    justify-content: center;
}

.img-format {
    border-radius: 6px;
    height: 16rem;
    object-fit: cover;
    width: 100%;
}
.img-format{
    margin: 2% 2% 2% 2%;
}

.button-img-form {
    position: relative;
    margin-top:-14rem;
    margin-left:1%;
    left: 0rem;
    height: 16rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 3rem;
}

#botao-pdf{
    margin-left: 22%;    
    border-radius: 6px;   
}