<link rel="stylesheet" href="relatorio.component.css">
<div class="container">
    <h3 id="migalhas"> Home/Relatórios</h3>
    <div class="conteudo">
        <h2 class="mb-4">Relatórios</h2>

        <div class="row" id="">
            <div class="col-md-4 card-form mt-4">
                <img src="../../../assets/img/foto-coleta-filtro.png" class="img-format">

                <div class="button-img-form">
                    <h3 style="color:white">Relatório Coleta</h3>
                </div>
                <button id="botao-pdf" type="button" class="btn btn-success " on-click='gerarRelatorioColeta()'>Gerar
                    Relatório</button>
            </div>
            <div class="col-md-4 card-form mt-4">
                <img src="../../../assets/img/foto-eclosao-filtro.png" class="img-format">

                <div class="button-img-form">
                    <h3 style="color:white">Relatório Eclosão</h3>
                </div>
                <button id="botao-pdf" type="button" class="btn btn-success" on-click="gerarRelatorioEclosao()">Gerar
                    Relatório</button>
            </div>
            <div class="col-md-4 card-form mt-4">
                <img src="../../../assets/img/foto-soltura-filtro.png" class="img-format">

                <div class="button-img-form">
                    <h3 style="color:white">Relatório Soltura</h3>
                </div>
                <button id="botao-pdf" type="button" class="btn btn-success" (click)='gerarRelatorioSoltura()'>Gerar
                    Relatório</button>
            </div>
        </div>
    </div>
</div>