<div class="container">
    <h3 id="migalhas"> Home/Usuarios</h3>
    <!-- card de pesquisar usuario -->
    <div class="conteudo">

        <form>
            <div class="row">
                <div class="">
                    <!-- primeira linha de inputs -->
                    <div class="row">
                        <!-- input matricula -->
                        <div class="col-md-6 ">
                            <label class="text-nowrap" for="inputMatricula">Matrícula</label>
                            <input type="text" class="form-control" id="inputMatricula">
                        </div>

                        <!-- input email -->
                        <div class="col-md-6 ">
                            <label class="text-nowrap" for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail">

                        </div>
                    </div>

                    <!-- segunda linha de inputs -->
                    <div class="row mt-2">
                        <!-- select nome completo -->
                        <div class="col-md-6 ">
                            <label class="text-nowrap" for="inputNomeCompleto">Nome Completo</label>
                            <input type="text" class="form-control" id="inputNomeCompleto">
                        </div>

                        <!-- select tipo usuario -->
                        <div class="col-md-6 ">
                            <label class="text-nowrap" for="inputTipoUsuario">Tipo de Usuário</label>
                            <select id="inputTipoUsuario" class="form-control">
                                <option selected>Selecione</option>
                                <option>Voluntário</option>
                                <option>Coordenador</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="botao">
                        <button type="button" class="btn btn-success" id="botao-pesquisar">Pesquisar
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>

    <!-- Listagem de usuarios  -->
    <div class="conteudo">
        <div class="row">
            <div class="">
                <h3>Usuários</h3>
                <div class="tabela-titulo">
                    Lista de usuários
                    <button type="button" class="btn btn-success " routerLink="cadastrar"
                        routerLinkActive="active-style"> + Novo
                        usuário</button>
                </div>

                <!-- tabela que lista os usuários -->
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th class="text-center">
                                Matrícula
                            </th>
                            <th class="text-center">
                                Nome
                            </th>
                            <th class="text-center">
                                Email
                            </th>
                            <th class="text-center">
                                Tipo de usuário
                            </th>
                            <th class="text-center">
                                Status
                            </th>
                            <!-- <th class="text-center">
                                Permissão
                            </th> -->
                            <th class="text-center">

                            </th>
                        </thead>

                        <tbody>
                            <tr *ngFor="let item of usuarios | keys; index as i; ">
                                <td class="text-center">
                                  {{usuarios[item].matricula}}
                                </td>
                                <td class="text-center">
                                    {{usuarios[item].nome}}
                                </td>
                                <td class="text-center">
                                    {{usuarios[item].username}}
                                </td>
                                <td class="text-center">
                                    {{usuarios[item].tipoUsuario}}
                                </td>
                                <td class="text-center">
                                    {{usuarios[item].enabled}}
                                </td>

                                <!-- botões -->
                                <td class="text-center">
                                    <div class="d-flex justify-content-around">
                                        <!-- botao de editar -->
                                        <button type="button" id="button-editar" routerLink="editar"
                                            routerLinkActive="active-style">
                                        </button>

                                        <!-- botao de excluir -->
                                        <button type="button" id="button-excluir"></button>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>