<div class="container">
    <h3 id="migalhas"> Home/Usuarios</h3>
    <!-- card de pesquisar usuario -->
    <div class="conteudo">

        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="">
                    <!-- primeira linha de inputs -->
                    <div class="row">
                        <!-- input matricula -->
                        <div class="col-md-6 ">
                            <label class="text-nowrap" for="inputMatricula">Matrícula</label>
                            <input type="number" class="form-control" [(ngModel)]="matriculaPesquisa" formControlName="matricula" id="inputMatricula">
                            <span *ngIf="!formulario?.get('matricula')?.valid && formulario?.get('matricula')?.touched" class="help-block">Campo obrigatório</span>               
                        </div>

                        <!-- input email -->
                        <div class="col-md-6 ">
                            <label class="text-nowrap" for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail">

                        </div>
                    </div>

                    <!-- segunda linha de inputs -->
                    <div class="row mt-2">
                        <!-- select nome completo -->
                        <div class="col-md-6 ">
                            <label class="text-nowrap" for="inputNomeCompleto">Nome Completo</label>
                            <input type="text" class="form-control" id="inputNomeCompleto">
                        </div>

                        <!-- select tipo usuario -->
                        <div class="col-md-6 ">
                            <label class="text-nowrap" for="inputTipoUsuario">Tipo de Usuário</label>
                            <select id="inputTipoUsuario" class="form-control">
                                <option selected>Selecione</option>
                                <option>Voluntário</option>
                                <option>Coordenador</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="botao">
                        <button type="submit" class="btn btn-success" id="botao-pesquisar">Pesquisar
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>

    <!-- Listagem de usuarios  -->
    <div class="conteudo">
        <div class="row">
            <div class="">
                <h3>Usuários</h3>
                <div class="tabela-titulo">
                    Lista de usuários
                    <button type="button" class="btn btn-success " routerLink="cadastrar"
                        routerLinkActive="active-style"> + Novo
                        usuário</button>
                </div>

                <!-- tabela que lista os usuários -->
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th class="text-center">
                                Matrícula
                            </th>
                            <th class="text-center">
                                Nome
                            </th>
                            <th class="text-center">
                                Email
                            </th>
                            <th class="text-center">
                                Tipo de usuário
                            </th>
                            <th class="text-center">
                                Status
                            </th>                            
                            <th class="text-center">

                            </th>
                        </thead>

                        <tbody>
                            <tr *ngFor="let item of usuarios ; index as i">
                                <td class="text-center">
                                  {{item.matricula}}
                                </td>
                                <td class="text-center">
                                    {{item.nome}}
                                </td>
                                <td class="text-center">
                                    {{item.username}}
                                </td>
                                <td class="text-center">
                                    {{item.tipoUsuario}}
                                </td>
                                <td class="text-center">
                                    {{item.enabled?"Ativo":"Inativo"}}                                   
                                </td>

                                <!-- botões -->
                                <td class="text-center">
                                    <div class="d-flex justify-content-around">
                                        <!-- botao de editar -->
                                        <button type="button" id="button-editar" [routerLink]="['editar', item.matricula]"
                                            routerLinkActive="active-style">
                                        </button>

                                        <!-- botao de excluir -->
                                        <button type="button" id="button-excluir" (click)="deletarUsuario(item.matricula)"></button>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>