.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;

}

.row {
    background-color: #ffffff;
    width: 70%;

    padding: 30px 40px;
    border-radius: 7px;
}

.col {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}


.row .botao {
    margin-top: 20px;
    text-align: end;
}

.form-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.input-inline {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.input-label {
    padding-right: 5px;
    margin: 12px;
}

#label-nome {
    padding: unset;
    margin-right: -10px;
    margin-left: -34px;
}

#label-tipo-usuario {
    padding: unset;
    margin-right: 2px;
    margin-left: -34px;
}