.container{
    margin-top: 60px; 
}


.card-header{
    background-color: #fff;
}
.card{
    padding: 20px 20px;
    margin-bottom: 30px;

}
.text-center{
    color: #2f394e;
}

 .btn{
    margin: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
}

.botao{
    margin-top: 15px;
}

.col-md-4 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
.col-md-2 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.input-inline{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.input-label{
    padding-right: 10px;
    margin: 10px;
}

