<div class="main-container">
    <header>
        <nav id="sidebar">
            <div class="sidebar">
                <a href="home"><img src="#" alt="Logo Quelofy"></a>
                <a href="#home">Home</a>
                <a href="#ciclos">Ciclos</a>
                <a href="#relatorios">Relatórios</a>
                <a href="#usuarios">Usuários</a>
            </div>
        </nav>

        <nav id="navbar">
            <ul>
                <li id="li-data">Sábado, 09 de Julho de 2022</li>
                <li id="li-nome">Nome do usuário</li>
            </ul>
        </nav>
    </header>
    <div>
        aaa
    </div>
</div>