#migalhas {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.conteudo {
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 1.5rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin-top: 1.25rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 0.625rem;
}

.container .botao {
    text-align: center;
    margin-top: 1.5625rem;
}

hr {
    margin: 2rem;
}

input.ng-invalid.ng-touched {
    border: 1px solid red
}

span {
    color: red
}