<div class="container">
    <h3 id="migalhas"> Home/Ciclos/{{resultado.idCiclo.nomeCiclo}}/Viagem{{resultado.idViagem}}/FormularioSoltura</h3>
    <div class="conteudo">
        <div class="titulo">
            <h1>Formulário Soltura</h1>
            <h6>Preenchimento das informações de soltura</h6>
        </div>
        
        <form [formGroup]="solturaForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-4">
                    <label class="text-nowrap" for="inputID">ID Ciclo</label>

                    <input type="text" class="form-control" [value]="resultado.idCiclo.idCiclo" disabled>
                </div>

                <div class="col-md-4">
                    <label class="text-nowrap" for="inputEstado">Estado</label>
                    <input id="inputEstado" class="form-control" [value]="resultado.idCiclo.uf" disabled>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label class="text-nowrap" id="label-municipio" for="inputMunicipio">Município</label>

                    <input id="inputMunicipio" class="form-control" [value]="resultado.idCiclo.municipio.nomeMunicipio"
                        disabled>
                </div>
                <div class="col-md-4 ">
                    <label class="text-nowrap" id="label-comunidade" for="inputComunidade">Comunidade</label>

                    <input id="inputComunidade" class="form-control"
                        [value]="resultado.idCiclo.comunidade.nomeComunidade" disabled>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <label class="text-nowrap" id="label-viagem" for="inputIDViagem">ID Viagem</label>
                    <input type="text" class="form-control" [value]="resultado.idViagem" disabled>
                </div>
                <div class="col-md-4">
                    <label class="text-nowrap" for="inputData">Data</label>
                    <input id="input-data" type="date" class="form-control" [value]="resultado.dataViagem" disabled>
                </div>
            </div>
            <hr>
            <div class="form-group">

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputMatricula">Matrícula do voluntário</label>
                    <input type="text" id="voluntario" formControlName="voluntario" class="form-control">
                    <span *ngIf="!solturaForm.get('voluntario')?.valid && solturaForm.get('voluntario')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputNumeroAnimal">Número do animal</label>
                    <input type="text" id="numeroAnimal" formControlName="numeroAnimal" class="form-control">
                    <span *ngIf="!solturaForm.get('numeroAnimal')?.valid && solturaForm.get('numeroAnimal')?.touched"
                        class="help-block"> Campo obrigatório </span>

                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputEspecie">Espécie</label>
                    <input type="text" id="especie" formControlName="especie" class="form-control">
                    <span *ngIf="!solturaForm.get('especie')?.valid && solturaForm.get('especie')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputDataNascimento">Data da soltura</label>
                    <input type="date" id="dataSoltura" formControlName="dataSoltura" class="form-control">
                    <span *ngIf="!solturaForm.get('dataSoltura')?.valid && solturaForm.get('dataSoltura')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputComprimentoCarapaca">Comprimento da carapaça </label>
                    <input type="text" id="carapacaComprimento" formControlName="carapacaComprimento"
                        class="form-control">
                    <span
                        *ngIf="!solturaForm.get('carapacaComprimento')?.valid && solturaForm.get('carapacaComprimento')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputLarguraCarapaca">Largura da carapaça</label>
                    <input type="text" id="carapacaLargura" formControlName="carapacaLargura" class="form-control">
                    <span
                        *ngIf="!solturaForm.get('carapacaLargura')?.valid && solturaForm.get('carapacaLargura')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputComprimentoPlastrao">Comprimento do plastrão</label>
                    <input type="text" id="plastraoComprimento" formControlName="plastraoComprimento"
                        class="form-control">
                    <span
                        *ngIf="!solturaForm.get('plastraoComprimento')?.valid && solturaForm.get('plastraoComprimento')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputLarguraPlastrao">Largura do plastrão </label>
                    <input type="text" id="plastraoLargura" formControlName="plastraoLargura" class="form-control">
                    <span
                        *ngIf="!solturaForm.get('plastraoLargura')?.valid && solturaForm.get('plastraoLargura')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputPeso">Peso </label>
                    <input type="text" id="peso" formControlName="peso" class="form-control">
                    <span *ngIf="!solturaForm.get('peso')?.valid && solturaForm.get('peso')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-nowrap" for="inputAltura">Altura </label>
                    <input type="text" id="altura" formControlName="altura" class="form-control">
                    <span *ngIf="!solturaForm.get('altura')?.valid && solturaForm.get('altura')?.touched"
                        class="help-block"> Campo obrigatório </span>
                </div>

            </div>

            <div class="botao">
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
        </form>
    </div>

</div>