<div class="container">
    <h3 id="migalhas"> Home/Ciclo//NovaViagem</h3>
    <div class="conteudo">

        <h2 class="titulo">Editar Viagem</h2>
        <h6>Editar uma viagem existente no sistema</h6>
        <br>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"> 
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputNome">Nome do Ciclo</label>
                        <input type="text" class="form-control" [value]="resultado.idCiclo.nomeCiclo" disabled >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="text-nowrap" for="inputEstado">Estado</label>
                        <input id="inputEstado" class="form-control" [value]="resultado.idCiclo.uf" disabled>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="text-nowrap" for="inputMunicipio">Município</label>
                        <input id="inputMunicipio" class="form-control" [value]="resultado.idCiclo.municipio.nomeMunicipio" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="text-nowrap" for="inputComunidade">Comunidade</label>
                        <input id="inputComunidade" class="form-control" [value]="resultado.idCiclo.comunidade.nomeComunidade" disabled>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="text-nowrap" for="inputIdViagem">ID viagem</label>
                        <input id= "idViagem" type="text" class="form-control" [value]="resultado.idViagem" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="text-nowrap" for="inputData">Data</label>
                        <input id="input-data" type="date" class="form-control" formControlName="dataViagem" [value]="resultado.dataViagem" 
                        [(ngModel)]="documento.dataViagem">
                        <span 
                        *ngIf="!signupForm?.get('dataViagem')?.valid && signupForm?.get('dataViagem')?.touched "
                        class="help-block">Campo obrigatório</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label id="label-tipo-usuario" class="text-nowrap" for="inputTipoUsuario">Coordenador</label>
                        <select id="inputTipoUsuario" formControlName="matricula" class="form-control" [(ngModel)]="resultado.matricula">
                            <option selected disabled value="">Selecione</option>
                            <option [ngValue]="item.matricula" *ngFor="let item of arrayDeCoordenadores">{{item.nome}}</option>
                        </select>
                        <span *ngIf="!signupForm?.get('matricula')?.valid && signupForm?.get('matricula')?.touched " class="help-block">Seleção obrigatória</span>
                    </div>
                </div>
            </div>
           
            <div class="botao">
                <button type="submit" class="btn btn-success  ">Salvar</button>
            </div>
        </form>
    </div>
</div>