/*Navbar 
#navbar {
    display: flex;
    justify-content: space-between;
    background:#FFFF;
    color: #2F394E;
}*/

#main-container {
    display: flex;
}

#navbar {
    display: flex;
    justify-content: end;
    background-color: white;
}

#side-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#navbar-ul {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style-type: none;
    margin: 0.625rem;
    padding: 0.625rem;
    text-align: center;
}

#li-data {
    margin-right: 2rem;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 9rem;
    background-color: white;
    top: 0;
    height: 100vh;
    overflow: auto;
    box-shadow: 5px 0px 30px 5px rgba(0, 0, 0, 0.05);
}

#sidebar a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    text-align: center;
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    color: #949494;
}

.sidebar-icon {
    height: 35px;
    filter: invert(68%) sepia(0%) saturate(2796%) hue-rotate(49deg) brightness(86%) contrast(75%);
}

.sidebar-item:hover {
    background-color: #E2F8E3;
    color: #1F8B24;
}

.active-style {
    color: #1F8B24;
    font-weight: 600;
    background-color: #e2f8e3;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    border-radius: 12px 0px 0px 12px;
}

.active-img {
    filter: invert(38%) sepia(87%) saturate(430%) hue-rotate(74deg) brightness(93%) contrast(98%);
}

footer {
    background-color: #2f394e;
    color: white;
    display: flex;
    justify-content: center;
    height: 7rem;
    align-items: center;
}

footer div:first-child {
    flex-grow: 2;
    text-align: center;
}

footer div:last-child {
    flex-grow: 2;
    text-align: center;
}