<div id="main-container">
    <div id="sidebar">
        <a routerLink="/home"><img src="../../../assets/img/logo-v2-300h.png" height="80" alt="logo"></a>

        <a class="sidebar-item" routerLink="/home" routerLinkActive="active-style">
            <img class="sidebar-icon" src="../../../assets/img/home.svg"
            routerLinkActive="active-img"> Home </a>

        <a class="sidebar-item" routerLink="/ciclo" routerLinkActive="active-style" >
            <img class="sidebar-icon" src="../../../assets/img/cicle.svg" routerLinkActive="active-img"> Ciclos </a>

        <a class="sidebar-item" routerLink="/relatorio" routerLinkActive="active-style" >
            <img class="sidebar-icon" src="../../../assets/img/bar-chart.svg"
            routerLinkActive="active-img"> Relatórios </a>

        <a class="sidebar-item" routerLink="/usuario" routerLinkActive="active-style">
            <img class="sidebar-icon" src="../../../assets/img/user.svg" 
            routerLinkActive="active-img">Usuários </a>
    </div>
    <div id="side-content">

        <div id="navbar">
            <ul id="navbar-ul">
                <li id="li-data">Sábado, 09 de Julho de 2022</li>
                <li id="li-nome"> {{ getNome() }} <img src="../../../assets/img/user.svg" height="28"></li>
                
            </ul>
        </div>

        <div id="content">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>
<footer>
    <div style="flex-grow:2">Sobre o Projeto Pé-de-Pincha</div>
    <div><img src="../../../assets/img/logo-v1-400h-white.png" height="38" alt="logo"></div>
    <div>Sobre as desenvolvedoras</div>
</footer>