<div class="container">

    <h3 id="migalhas"> Home/Ciclos </h3>

    <div class="conteudo">

        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <!-- card de pesquisar usuario -->
            <div class="row">
                <div class="">
                    <!-- primeira linha de inputs -->
                    <div class="row">
                        <!-- input id ciclo -->
                        <div class="col-md-6 ">
                            <label class="text-nowrap" for="inputIdCiclo">Id Ciclo</label>
                            <input type="number" formControlName="idCiclo" class="form-control" id="inputIdCiclo"  [(ngModel)]="idCicloPesquisa">
                            <span *ngIf="!formulario?.get('idCiclo')?.valid && formulario?.get('idCiclo')?.touched" class="help-block">Id do ciclo obrigatório</span>
                        </div>

                        <!-- input nome -->
                        <div class="col-md-6 ">
                            <label class="text-nowrap" for="inputNome">Nome</label>
                            <input type="text" class="form-control" id="inputNome">
                        </div>
                    </div>

                    <!-- segunda linha de inputs -->
                    <div class="row mt-2">
                        <!-- select estado -->
                        <div class="col-md-6 ">
                            <label class="text-nowrap" for="inputEstado">Estado</label>
                            <input type="text" class="form-control" id="estado">
                        </div>

                        <!-- select Municipio -->
                        <div class="col-md-6 ">
                            <label class="text-nowrap" for="inputMunicipio">Município</label>
                            <input type="text" class="form-control" id="municipio">
                        </div>
                    </div>

                    <!-- terceira linha de inputs -->
                    <div class="row mt-2">
                        <!-- select comunidade -->
                        <div id="div-comunidade" class="col-md-6 ">
                            <label class="text-nowrap" for="inputComunidade">Comunidade</label>
                            <input type="text" class="form-control" id="comunidade">
                        </div>

                        <!-- botão de pesquisa -->
                        <div class="botao">
                            <button type="submit" class="btn btn-success" id="botao-pesquisar">Pesquisar
                            </button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="conteudo">
        <div class="row">
            <div class="">
                <h3>Ciclos</h3>
                <div class="tabela-titulo">
                    Lista de ciclos reprodutivos anuais identificados por município e ano.
                    <button type="button" class="btn btn-success" routerLink="cadastrar"
                        routerLinkActive="active-style"> + Novo
                        ciclo</button>
                </div>

                <!-- tabela que lista os usuários -->


                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th class="text-center">
                                ID Ciclo
                            </th>
                            <th class="text-center">
                                Nome
                            </th>
                            <th class="text-center">
                                Estado
                            </th>
                            <th class="text-center">
                                Município
                            </th>
                            <th class="text-center">
                                Comunidade
                            </th>

                            <th class="text-center">

                            </th>
                        </thead>

                        <tbody>
                            <tr *ngFor="let item of meuArrayDeCiclos; index as i;">
                                <td class="text-center">
                                    {{item.idCiclo}}
                                </td>
                                <td class="text-center">
                                    {{item.nomeCiclo}}
                                </td>
                                <td class="text-center">
                                    {{item.uf}}
                                </td>
                                <!-- modificar quando configurar a interface -->
                                <td class="text-center">
                                    {{item.municipio.nomeMunicipio}}
                                </td>
                                <td class="text-center">
                                    {{item.comunidade.nomeComunidade}}
                                </td>
                                <!-- botões -->
                                <td class="text-center">
                                    <div class="d-flex justify-content-around">
                                        <button type="button" id="button-visao" routerLink="001"
                                            routerLinkActive="active-style">
                                    </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- <a routerLink="cadastrar" routerLinkActive="active-style"> Cadastrar </a> -->
<!-- <br>
<a routerLink="editar" routerLinkActive="active-style"> Editar </a>
<br> -->
<!-- <a routerLink="001" routerLinkActive="active-style"> Ver Ciclo id 001 </a> -->