#migalhas {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}
.conteudo {
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 1.5rem;
    background-color: white;
    /* margin-top: 1.5rem; */
}

.conteudo-tabela{
    border: none;
    padding: 20px 20px;
    margin-bottom: 30px;
    border-radius: 6px;
    background-color: #fff;
} 

.text-center{
    color: #2f394e;
}


 #botao-pesquisar {
    display: flex;
    justify-content: flex-end;
} 

.botao {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

#button-visao{
    background-image: url(../../../../assets/img/view.svg);
    height: 1.5rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1.5rem;
    border: none;
    background-color: transparent;
 }

 .tabela-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
