.container{
    margin-top: 60px; 
}


.card-header{
    background-color: #fff;
}
.card{
    padding: 20px 20px;
    margin-bottom: 30px;
    border-radius: 6px;

}
.text-center{
    color: #2f394e;
}

 .btn{
    margin: 5px;
}

.col-md-6 {
    padding: 10px;
}

.botao{
    margin-top: 15px;
}
#button-visao{
    background-image: url(../../../../assets/img/view.svg);
    height: 1.5rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1.5rem;
    border: none;
    background-color: transparent;
 }
