@import '~ngx-toastr/toastr.css';

/* Reset */
* {
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.97rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2f394e;
}

h1 {
    font-size: 1.7rem !important;
}

h2 {
    font-size: 1.5rem !important;
    font-weight: 500 !important; 
}

h3 {
    font-size: 1.3rem !important;
    font-weight: 500 !important; 
}

h4 {
    font-size: 1rem !important;
}


body {
    background-color: #F1F2F0 !important;
}

html, body{
    height: 100%;
}

.toast-container { position: fixed !important; top: 30px !important; right: 30px !important;}

.toast-title{
    color: white;
}

.toast-message{
    color: white;
}