/* Reset */
* {
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.97rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 1rem;
}


body {
    background-color: #F1F2F0 !important;
}

/*body, input[type="text"], button {
    color: #333;
}

button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  */

  
