<div class="container">


    <h3 id="migalhas"> Home/Ciclo/Ciclo Barreirinha 2022/Viagem 101</h3>

    <div class="conteudo">
        <h2>Viagem 101 - 20/02/2022</h2>

        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label id="label-nome" class="text-nowrap" for="inputNome">Nome do Ciclo</label>
                        <input type="text" class="form-control" id="inputNome">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="email">Estado:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="email">Comunidade:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="email">Município:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="email">Id Viagem:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="email">Coordenador</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="email">Data</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div class="row">
        <div class="col-md-4 card-form mt-4">
            <img src="../../../../assets/img/foto-coleta-filtro.png" class="img-format">

            <div class="button-img-form">
                <h3 style="color:white">Formulário Coleta</h3>
                <button type="button" class="btn btn-light">Adicionar</button>
            </div>
        </div>

        <div class="col-md-4 card-form mt-4">
            <img src="../../../../assets/img/foto-eclosao-filtro.png" class="img-format">

            <div class="button-img-form">
                <h3 style="color:white">Formulário Eclosão</h3>
                <button type="button" class="btn btn-light">Adicionar</button>
            </div>
        </div>

        <div class="col-md-4 card-form mt-4">
            <img src="../../../../assets/img/foto-soltura-filtro.png" class="img-format">

            <div class="button-img-form">
                <h3 style="color:white">Formulário Soltura</h3>
                <button type="button" class="btn btn-light">Adicionar</button>
            </div>
        </div>
    </div>
    <div class="conteudo mt-4 mb-4">
        <h6>Busca por Formulário</h6>
        <br>
        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label id="label-nome" class="text-nowrap" for="inputNome">Tipo de formulário</label>
                        <input type="text" class="form-control" id="inputNome">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="email">Data:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
                <div class="col-md-4 d-flex" style="align-items: flex-end;
                justify-content: flex-end">
                    <button type="button" class="btn btn-success mt-4">Pesquisar</button>
                </div>
            </div>
        </form>
    </div>
</div>