<div class="container">

    <h3 id="migalhas"> Home/Ciclos/{{resultado.idCiclo.nomeCiclo}}/</h3>

    <div class="conteudo">
        <h2 class="mb-4"> Viagem - ID  {{resultado.idViagem}} </h2>

        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputNome">Nome do Ciclo</label>
                        <input type="text" class="form-control" id="inputNome" [value] = "resultado.idCiclo.nomeCiclo" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Estado">Estado</label>
                        <input type="text" class="form-control" id="Estado" [value] = "resultado.idCiclo.uf" disabled>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="comunidade">Município</label>
                        <input type="text" class="form-control" id="comunidade" [value] = "resultado.idCiclo.municipio.nomeMunicipio" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="maunicipio">Comunidade</label>
                        <input type="text" class="form-control" id="municipio" [value] = "resultado.idCiclo.comunidade.nomeComunidade" disabled>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="idviagem">Id Viagem</label>
                        <input type="text" class="form-control" id="viagemid" [value] = "resultado.idViagem" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Coordenador">Coordenador</label>
                        <input type="text" class="form-control" id="coordenador" [value] = "resultado.coordenador.nome" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Data">Data</label>
                        <input type="text" class="form-control" id="dataviagem" [value] = "resultado.dataViagem" disabled>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- cards dos formulários -->
    <div class="row">
        <div class="col-md-4 card-form mt-4">
            <img src="../../../../assets/img/foto-coleta-filtro.png" class="img-format">

            <div class="button-img-form">
                <h3 style="color:white">Formulário Coleta</h3>
                <button type="button" class="btn btn-light" routerLink="coleta/cadastrar" routerLinkActive="active-style">Adicionar</button>
            </div>
        </div>

        <div class="col-md-4 card-form mt-4">
            <img src="../../../../assets/img/foto-eclosao-filtro.png" class="img-format">

            <div class="button-img-form">
                <h3 style="color:white">Formulário Eclosão</h3>
                <button type="button" class="btn btn-light" routerLink="eclosao/cadastrar" routerLinkActive="active-style">Adicionar</button>
            </div>
        </div>

        <div class="col-md-4 card-form mt-4">
            <img src="../../../../assets/img/foto-soltura-filtro.png" class="img-format">

            <div class="button-img-form">
                <h3 style="color:white">Formulário Soltura</h3>
                <button type="button" class="btn btn-light" routerLink="soltura/cadastrar" routerLinkActive="active-style">Adicionar</button>
            </div>
        </div>
    </div>

    <div class="conteudo mt-4 mb-4">
        <h6>Busca por Formulário</h6>
        <br>
        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="formulario">Tipo de formulário</label>
                        <input type="text" class="form-control" id="formulario">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="data">Data</label>
                        <input type="date" class="form-control" id="data">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="usuario">Participante</label>
                        <input type="text" class="form-control" id="usuario">
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex" style="align-items: flex-end;
            justify-content: flex-end">
                <button type="button" class="btn btn-success mt-4">Pesquisar</button>
            </div>
        </form>
    </div>
    <!--Listagem de Formulários -->
    <div class="conteudo mb-4">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-primary">
                        <th class="text-center">IdCiclo</th>
                        <th class="text-center">Municipio</th>
                        <th class="text-center">Comunidade</th>
                        <th class="text-center">Data</th>
                        <th class="text-center">formulário</th>
                        <th class="text-center">Usuário</th>
                        <th class="text-center"></th>

                    </thead>
                    <tbody>
                        <tr *ngFor="let item of formulariosArray">
                            <td class="text-center">
                                {{item.IdCiclo}}
                            </td>
                            <td class="text-center">
                                {{item.municipio}}
                            </td>
                            <td class="text-center">
                                {{item.comunidade}}
                            </td>
                            <td class="text-center">
                                {{item.data}}
                            </td>
                            <td class="text-center">
                                {{item.formulario}}
                            </td>
                            <td class="text-center">
                                {{item.usuario}}
                            </td>
                            <td>
                                <div class="d-flex justify-content-around">
                                    <button type="button" id="button-visao"></button>
                                    <button type="button" id="button-editar"></button>
                                    <button type="button" id="button-excluir"></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>