<div class="container">
        <!-- cabeçalho do furmulario -->
        <div class="titulo">
            <h1>Relatórios</h1>
            <h6>Gerar relatórios</h6>
        </div>
    
        <!-- primeira linha de inputs -->
        <div class="row">
            <!-- input id ciclo -->
            <div class="col-md-4">
                    <label class="text-nowrap" for="inputID">ID Ciclo</label>
    
                <input type="text" class="form-control">
            </div>
            <!-- select estado -->
            <div class="col-md-4">
                    <label class="text-nowrap" for="inputEstado">Estado</label>

</div>
