<div class="container">
    <h3 id="migalhas"> Home/Ciclos/Cadastrar</h3>

    <div class="conteudo">
        <h2 class="titulo">Novo ciclo</h2>
        <h6>Inserir um novo ciclo reprodutivo no sistema</h6>
        <br>

        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputNome">Nome do Ciclo</label>
                        <input 
                            type="text"
                            class="form-control"
                            id="inputNome"
                            name="nomeCiclo"
                            formControlName="nomeCiclo"
                            [(ngModel)]="documento.nomeCiclo"
                        >
                        <span *ngIf="!formulario?.get('nomeCiclo')?.valid && formulario?.get('nomeCiclo')?.touched" class="help-block"> Campo nome obrigatório</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="text-nowrap" for="inputEstado">Estado</label>
                        <select 
                            class="form-select"
                            id="inputEstado"                            
                            name="uf"
                            formControlName="uf"
                            [(ngModel)]="documento.uf"
                            >
                            <option selected disabled>Selecione</option>
                            <option>AM</option>
                            <option>PA</option>
                        </select>  
                        <span *ngIf="!formulario?.get('uf')?.valid && formulario?.get('uf')?.touched" class="help-block"> Seleção do estado obrigatória</span>               
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <label  for="inputMunicipio">Município</label>
                        <select 
                            class="form-select"
                            id="inputMunicipio"                          
                            name="municipio"
                            formControlName="municipio"
                            [(ngModel)]="documento.municipio.nomeMunicipio"
                        >
                            <option selected disabled>Selecione</option>
                            <option>Apuí</option>
                            <option>Barcelos</option>
                            <option>Barreirinha</option>
                            <option>Borba</option>
                            <option>Careiro Castanho</option>
                            <option>Juruti</option>
                            <option>Nhamundá</option>
                            <option>Novo Airão</option>
                            <option>Oriximiná</option>
                            <option>Parintins</option>
                            <option>Puranga Conquista</option>
                            <option>Terra Santa</option>
                        </select>
                        <span *ngIf="!formulario?.get('municipio')?.valid && formulario?.get('municipio')?.touched" class="help-block"> Seleção do município obrigatória</span>  
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputComunidade">Comunidade</label>
                        <select
                            class="form-select"
                            id="inputComunidade"                             
                            name="comunidade"
                            formControlName="comunidade"
                            [(ngModel)]="documento.comunidade.nomeComunidade"
                        >
                            <option selected disabled>Selecione</option>
                            <option>Comunidade Aliança</option>
                            <option>Comunidade Ascensão</option>
                            <option>Comunidade Barreto</option>
                            <option>Comunidade Bela Vista do Guariba</option>
                            <option>Comunidade Boca dos Currais</option>
                            <option>Comunidade Castanhal</option>
                            <option>Comunidade Granja Ceres</option>
                            <option>Comunidade Igapó Açu</option>
                            <option>Comunidade Mamori</option>
                            <option>Comunidade Nova Esperança</option>
                            <option>Comunidade Pintado</option>
                            <option>Comunidade Poço Fundo</option>
                            <option>Comunidade Salgado I</option>
                            <option>Comunidade São José</option>
                            <option>Comunidade Tucumanduba</option>
                        </select>
                        <span *ngIf="!formulario?.get('comunidade')?.valid && formulario?.get('comunidade')?.touched" class="help-block"> Seleção da comunidade obrigatória</span>  
                    </div>
                </div>
            </div>

                <!-- botao -->
                <div class="botao">
                    <button type="submit" class="btn btn-success"> Salvar </button>
                </div>          
        </form>
    </div>
</div>