#migalhas {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.conteudo {
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 1.5rem;
}

.botao {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
}

span {
    color: red;
}